body{
    background-color:black;
}
div{
    display:inline;
    margin-left: 15px;
    margin-right:15px;
    background-color:Cyan;
    
}
.a{
      
      color:black;
      font-size:30px;
      border:1px solid white;
}
